// Place all the styles related to the Makers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.maker_slider {
	height: 280px;
	max-width: 1060px;
	margin: auto;
}

.container {
	margin: auto;
}

.profile_preview {
	width: 240px;
	length: 240px;
	display: block;
	float: left;
	position: relative;
	margin: 20px 0px 0px 20px;

}

.preview_details {
	position: absolute;
	bottom: 0px;
	text-overflow: ellipsis;
	padding: 10px;
}

.preview_details h4,{
	text-overflow: ellipsis;
}

.profile_pic img{
	width: 100%;
	height: auto;
}


.maker_overlay {

	transition: 0.3s;
	background: rgba(250,250,250,0.6);
	position: absolute;
	top: 0px;
	bottom:0px;
	left: 0px;
	right: 0px;
	float: left;
	opacity: 0;
}

.profile_preview:hover .maker_overlay {
	opacity: 1;
}